.showcase {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 25px 0 75px 0;
}
.container-showcase {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.title {
  font-weight: bold;
  font-size: 1.8rem;
}
hr {
  width: 100px;
  border: solid 3px #c0c0c0;
  margin: 0 0 20px;
}
.products {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 25px 0;
}

.product{
  height: 300px;
  width: 216px;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: #7a7a7a;
  border-radius: 5px;
  position: relative;
}
.flag-discount {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 0;
  border-top: 75px solid #f8475f;
  border-left: 75px solid transparent;
  border-bottom: 75px solid transparent;
}
.flag-discount::after {
  content: "OFF";
  position: absolute;
  top: -60px;
  right: 8px;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
}
.card-info {
  padding-top: 10px;
  width: 215px;
  height: 176px;
  background-color: #fff;
}
.card-info:hover{
    background-color: 
    #E6E8EA;
}
li {
  list-style-type: none;
}
.product-name {
  margin-bottom: 2px;
  font-weight: 600;
}
.old-price {
  height: 15px;
  margin: 0.25em 0;
  text-decoration: line-through;
}
.current-price {
  font-size: 18px;
  font-weight: 700;
  margin: 0.25em 0;
  color: #000;
}
.installments {
  font-size: 11px;
  font-family: "Nunito";
  font-weight: 400;
  color: #7a7a7a;
}
.buy {
  opacity: 1;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 10px 25px;
  border-radius: 5px;
}
@media screen and (max-width: 375px){
    .products{
        margin: 0;
        padding: 0;
    }
    .product {
      width: 60%;
      height: 43vh;
    }

}